*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ResetPassword{
    width: 100%;
    height: 98vh;
    /* border: 2px solid black; */
    background: linear-gradient(180deg, rgb(158, 115, 221), rgb(172, 141, 219));
    display: flex;
    justify-content: center;
}
.Reset-password-box{
     background-image: url('../../assets/Group\ 11665.png');
    height: 340px;
    width: 38%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  
}
.Reset-box{
  
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70px;
}
.Reset-box h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 79px;
    color: blue;
}
.star-img{
    position: absolute;
    left: 430px;
    bottom: 160px;
    border-radius: 50%;
}
/* input{
    height: 35px;
    width: 60%;
    margin-top: 70px;
    margin-bottom: 30px;
} */
h6 input{
    height: 35px;
    width: 60%;
    margin-top: 70px;
    margin-bottom: 30px;
}
.reset-btn{
    border: none;
    border-radius: 5px;
    width: 26%;
    background: linear-gradient(700deg,rgb(34, 23, 139), rgb(219, 18, 219));
    color: aliceblue;
    font-size: 23px;
    padding: 5px 8px;
}