*{
    margin: 0;
    padding: 0;
}
.companylist-container{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}
.company-navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: azure;

}
.navstar-image{
height: 40px;
border-radius: 50px ;
}
.navmen-image{
    height: 40px;
    border-radius: 50%;
}
.company-navleft{
    display: flex;
    gap: 30px;
    margin-left: 20px;
}
.company-navright{
    width: 30%;
    justify-content: space-evenly;
    display: flex;

}
.welcome5{
    margin-top: 10Px;
}
.compannybutton{
    width: 80px;
}
.Add-company{
    position: relative;
    height: 60px;

}
.add-companybutton{
    color: white;
    font-weight: 900;
    background-color: orange;
    padding: 15px;
    border-radius: 10px;
    border: none;
    position: absolute;
    left: 1000px;
    top: 20px;

}
.list-h3{
    margin-left: 80px;
    margin-top: 10px;
    color: red;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.company-list1{
    border: 2px solid white;
    width: 77%;
    height: 130px;
    margin-left: 80px;
    margin-top: 30px;
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 0px 7px 10px lightgray;
    background-color: white;

}

.list-image{
    height: 140px;
    padding: 20px 4px;
}